*{
	font-family: inherit;
	font-size: inherit;
	color:inherit;
	line-height: 1.4;
}

html,body{
	width:100%;
	background-color: #eeeeee;
	font-family: serif;
	color:#333333;
}

h1{
	font-size:4em;
}

.wrapper{
	width: 100%;
	max-width:45em;
	padding:1em;
	margin:0 auto;
}

.heading{
	padding-top: 1em;
	padding-bottom: 1em;

	border-bottom:1px solid #cccccc;
}

.subheading{
	font-size:1.2em;
	letter-spacing: -0.07em;
}

/*Grid system*/
.grid-wrapper{
	width:100%;
}

.row:before, .row:after{
	content:"";
	display:table;
	clear:both;
}

[class*="col-"]{
	float:left;
	min-height:1px;
	width:33.33%;
}

.col-1{
	width:33.33%;
}

.col-2{
	width:66.66%;
}

.col-3{
	width:100%;
}


/*misc*/
.clearfix{
	clear:both;
}

.noselect{
	user-drag: none; 
	-webkit-user-drag: none;

	user-select:none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select:none;
	-o-user-select:none;
}
/*Responsiveness*/

@media screen and (max-width: 60em){
	.col-1{
		width:100%;
	}

	.col-2{
		width:100%;
	}

	.col-3{
		width:100%;
	}
}